.cardContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    margin: 1rem;
    height: 150px;
}

.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    background: rgb(3, 19, 54);
    color: white;
    text-align: center;
}

.cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    height: 200px;
    /* border-radius: 25px;
    overflow: hidden; */
}